 <!-- Footer-->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-3">
        <!-- Text widget-->
        <aside class="widget widget_text">
          <div class="textwidget">
            <p><img src="assets/images/logo-light.png" width="100" alt=""></p>
            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut non enim eleifend felis pretium feugiat.</p>E-mail: <a href="mailto:support@core.com">support@core.com</a> <br/>
            Phone: 8 800 123 4567 <br/>
            Fax: 8 800 123 4567 <br/>
          </div>
        </aside>
      </div>
      <div class="col-md-6 col-lg-3">
        <!-- Recent entries widget-->
        <aside class="widget widget_recent_entries">
          <div class="widget-title">
            <h5>Recent Posts</h5>
          </div>
          <ul>
            <li><a href="#">Experience the sound of a modern and clean 360° Bluetooth Speaker.</a> <span class="post-date">May 8, 2016</span></li>
            <li><a href="#">Experience the sound of a modern and clean 360° Bluetooth Speaker.</a> <span class="post-date">April 7, 2016</span></li>
            <li><a href="#">Experience the sound of a modern and clean 360° Bluetooth Speaker.</a> <span class="post-date">April 7, 2016</span></li>
          </ul>
        </aside>
      </div>
      <div class="col-md-6 col-lg-3">
        <!-- Twitter widget-->
        <aside class="widget twitter-feed-widget">
          <div class="widget-title">
            <h5>Twitter Feed</h5>
          </div>
          <div class="twitter-feed" data-twitter="345170787868762112" data-number="2"></div>
        </aside>
      </div>
      <div class="col-md-6 col-lg-3">
        <!-- Tags widget-->
        <aside class="widget widget_tag_cloud">
          <div class="widget-title">
            <h5>Tags</h5>
          </div>
          <div class="tagcloud"><a href="#">bootstrap</a><a href="#">business</a><a href="#">corporate</a><a href="#">e-commerce</a><a href="#">portfolio</a><a href="#">responsive</a></div>
        </aside>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="text-center"><span class="copyright">© 2017 Core, All Rights Reserved. Design with love by <a href="http://2the.me/">2the.me</a></span></div>
        </div>
      </div>
    </div>
  </div>
</footer>
    <!-- Footer end-->

    <a class="scroll-top" href="#top"><i class="fa fa-angle-up"></i></a>
  </div>
  <!-- Wrapper end-->

</div>
<!-- Layout end-->