<% @albums.each do |album|%>
  <div class="col-md-4">
    <div class="card">
      <%= image_tag album.image_thumb, width: '100%' %>
      <p class="card-text">
        <span><%= link_to album.title, album_path(album) %></span> 
      </p>
    </div>
  <br>
  </div>
<%end%>